.password-section{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-subsection{
    height: 15rem;
    width: 25rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.password-subsection>button{
    width: 13rem;
    padding: 7px 0;
    background-color: tomato;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.password-subsection>button:hover{
    background-color: rgb(237, 73, 44);
}

@media (max-width:450px){
    .password-subsection{
        width: 20rem;
    }
}
@media (max-width:325px){
    .password-subsection{
        width: 16rem;
    }
}