.profile-section {
    height: 28rem;
    width: 70rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem; /* Gap between left and right sections */
    position: relative;
}

.profile-left-section {
    height: 95%;
    width: 23%;
    box-shadow: 0 0 10px 0 rgb(55, 54, 54);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.profile-left-section>h3{
    border-bottom: 1px solid black;
    width: 50%;
    color: rgba(43, 42, 42, 0.805);
    margin: 2rem 0;
    margin-bottom: 2.5rem;
}

.profile-left-section>p{
    width: 60%;
    border: 1px solid #2d6a4f;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.008s ease-in-out;
}

.profile-left-section>p:hover{
    background-color: #388f68;
    border: 1.2px solid #285742;
}


.profile-right-section {
    height: 95%;
    width: 65%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px 0 grey;
    border-radius: 5px;
}

.profile-line {
    width: 1px; /* Thickness of the vertical line */
    background-color: rgba(47, 46, 46, 0.563); /* Line color */
    height: 100%; /* Height of the line matches the sections */
}

.profile-photo{
    width: 15rem;
    margin-left: 1rem;
}

.profile-photo>img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    cursor: pointer;
}

.profile-details{
    display: flex;
    flex-direction: column;
}
.profile-details>input{
    width: 20rem;
    height: 1.3rem;
    padding: 0.5rem;
    margin-bottom: 0.4rem;
}

.profile-details>input:focus{
    outline: none;
}

.profile-details>button{
    width: 100%;
    padding: 0.5rem;
    font-size: large;
    border: none;
    color: white;
    margin-top: 1rem;
    background-color: #2d6a4f;
    transition: background-color 0.2s ease-in-out;
}
.profile-details>button:hover{
    background-color: #285742;
}